Source: ros-indigo-libav-image-transport
Section: misc
Priority: extra
Maintainer: Nils Bore <nbore@kth.se>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-indigo-catkin, ros-indigo-catkinized-libav, ros-indigo-dynamic-reconfigure, ros-indigo-genmsg, ros-indigo-image-transport
Homepage: https://github.com/dominiquehunziker/libav_image_transport
Standards-Version: 3.9.2

Package: ros-indigo-libav-image-transport
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-indigo-catkinized-libav, ros-indigo-dynamic-reconfigure, ros-indigo-genmsg, ros-indigo-image-transport
Description: Image transport plugin using libav to compress images.
